    {% extends 'student_template/base_template.html' %}
    {% block page_title %}
    Home
    {% endblock page_title %}
    {% block main_content %}
    {% load static %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h1>Welcome {{user.first_name}},</h1>
        <p>Nothing to say about today i am here to inform you that tomorrow is no holiday please kindly follow your regular routine</p>
          <!--{% for student in students %}
          <img src="{{student.profile_pic}}" style="width:100px;"/>
          {% endfor %}-->
          <p style="margin-top:15em;"><strong>If you are reading this you are a student of IIMS college </strong></p>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    {% endblock main_content %}