    {% extends 'staff_template/base_template.html' %}
    {% block page_title %}
    Home
    {% endblock page_title %}
    {% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h1>Welcome {{user.first_name}} Sir,</h1>
        <p>Nothing to say about today i am here to inform you that tomorow is no holiday please kindly study to kinder garden students</p>
          <p style="margin-top:15em;"><strong>If you are reading this you are a teacher of IIMS college </strong></p>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    {% endblock main_content %}